// half-logo
.half-logo{
    font-weight: 100 !important;
    font-size: 36px;
}

//padding-lr-50
.padding-lr-50{
    padding: 3% 26% 0% 26%;
}

//url-link
.url-link{
   a{
    color: #2f643b;
   } 
}