<template>
    <button 
    :disabled="isLoading"
    class="btn"
    :class="customClass">

    <span v-if="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span v-if="!isLoading">
        <slot></slot>
    </span>
</button>

</template>

<script>
    export default {
        name: 'loading-button',
        props: {
            id:{
                type: String,
                default: ''
            },
            isLoading: {
                type: Boolean,
                default: false
            },
            type: {
                type: String,
                default: "button"
            },
            disabled: {
                type: Boolean,
                default: false
            },
            customClass: {
                type: String,
                default: ''
            }
        },
    };
</script>
