<template>
    <div class="row" v-if="this.$slots.default[0].text.length">
        <div class="col-md-12">
            <div class="list_errors messages alert alert-danger">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        // 
    }
</script>
