<template>
    <div class="text-danger">
        <span v-if="this.$slots.default[0].text.length" class="text-danger">
            <slot></slot>
        </span>
    </div>
</template>

<script>
    export default {
        // 
    }
</script>
