<template>
    <div class="row" v-if="this.$slots.default[0].text.length">
        <div class="col-md-12">
            <div class="list_success url-link messages alert alert-success">
                Short Url : <a href="javascript:void(0);" v-on:click="click"><slot></slot> </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
         methods: {
             click(){
                 console.log(this.$slots);
                 window.location.href = this.$slots.default[0].text;
             }
         }
    }
</script>
